<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Month</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <li class="d-flex">
        <select
          [(ngModel)]="month"
          (ngModelChange)="changeState()"
          class="form-select"
          style="width: 250px"
        >
          <option *ngFor="let item of monthsName" value="{{item.value}}">
            {{item.name}}
          </option>
        </select>
      </li>
      <li class="d-flex mx-2">
        <select [(ngModel)]="idCity" class="form-select" style="width: 250px">
          <option *ngFor="let item of cityName" value="{{item.id}}">
            {{item.name}}
          </option>
        </select>
      </li>
    </div>
  </div>
</nav>
<app-reminder-list
  [month]="month"
  [city]="idCity"
  [weeks]="weeks"
  (weeksOutput)="changeWeek($event)"
></app-reminder-list>
