<div class="w-100 h1 mx-3">
  {{monthsName[month].name}}
  <small class="text-muted">2021</small>
</div>
<div class="card m-3 p-2">
  <table class="table">
    <thead>
      <tr>
        <td scope="col">Sunday</td>
        <td scope="col">Monday</td>
        <td scope="col">Tuesday</td>
        <td scope="col">Wednesday</td>
        <td scope="col">Thursday</td>
        <td scope="col">Friday</td>
        <td scope="col">Saturday</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
        <td
          *ngFor="let day of week.days"
          class="border"
          style="height: 14vh; width: 8vw"
          [ngClass]="(day.idDay === 0 || day.disable) ? 'bg-light' : ''"
        >
          <ng-container *ngIf="day.idDay !== 0">
            <div class="w-100 row m-0">
              <div
                class="col-8 p-0"
                [ngClass]="(day.disable) ? 'text-muted': ''"
              >
                {{day.idDay}}
                <small class="text-secondary" style="font-size: 15px">
                  {{day.weather}}
                </small>
              </div>
              <div class="col-4 p-0 row m-0 p-0" *ngIf="!day.disable">
                <div class="col-4 p-0 m-0" *ngIf="day.reminders.length > 0">
                  <i
                    class="bi bi-trash mr-2 text-danger col p-0"
                    (click)="deleteAll(day)"
                    title="Delete reminder"
                    style="cursor: pointer; text-align: end"
                  ></i>
                </div>
                <div
                  class="col-4 p-0 m-0 bg-warning"
                  style="
                    border-radius: 50%;
                    font-size: 10px;
                    text-align: center;
                  "
                  *ngIf="day.reminders.length > 0"
                >
                  {{day.reminders.length}}
                </div>
                <i
                  class="bi bi-calendar-plus mr-2 text-primary col p-0"
                  (click)="openForm(true, day)"
                  title="New reminder"
                  style="cursor: pointer; text-align: end"
                ></i>
              </div>
            </div>
            <div style="height: 80%; overflow-y: auto">
              <ng-container *ngFor="let reminder of day.reminders">
                <div
                  class="card mt-1 mx-0 mb-0"
                  (click)="openForm(false, day, reminder)"
                  [ngStyle]="{'background-color':reminder.color}"
                  style="
                    max-width: 100%;
                    word-break: break-word;
                    cursor: pointer;
                  "
                >
                  <div class="card-header w-100">
                    <i class="bi bi-alarm"></i>
                    {{ reminder.hour | date: 'shortTime' }}
                  </div>
                  <div class="card-body">{{reminder.message}}</div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
